@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

.header {
    
    height: 100px;
    border-top: 1px solid #eaeaea;
    min-width: 200px;
 
    padding-left: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background:#333;
    font-size: 32px;
    color:darkkhaki;
    text-shadow: 0 0 1px white;
    font-family: 'Oleo Script', cursive;
  }
  
  .header a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  